language: c
script:
# uncrustify
    # - curl -L https://github.com/uncrustify/uncrustify/archive/uncrustify-0.70.0.tar.gz | tar -xz
    # - cd uncrustify-uncrustify-0.70.0
    # - ls
    # - cmake . -Bbuild
    # - cmake --build build
    # - cp build/uncrustify .. && cd ..
    # - ./uncrustify --version
    # - python tools/format.py --check
# gcc
    - export CC=gcc CXX=g++
    - cmake test -Bbuild
    - cmake --build build
    - ./build/test_msquares
    - rm -rf build
    - echo Switching from gcc to clang...
# clang
    - export CC=clang CXX=clang++
    - cmake test -Bbuild
    - cmake --build build
# smoke tests
    - ./build/test_bubbles
    - ./build/test_shapes
    - ./build/test_filecache
    - ./build/test_filecache_lz4
    - ./build/test_sprune
    - ./build/test_strings
